@model PortfolioSite.ViewModels.DetailsAndSizesViewModel

@using PortfolioSite.Models
@using PortfolioSite.Helpers

    @{
        ViewBag.Title = "Item Details";
        var displayImage = new DisplayImage(DisplayImage.ImageCategory.Clothing);
    }

<div class="container" style="max-width: 600px; min-width: 400px;">
    <h2>Details</h2>

    <div>
        <h4>@Model.Item.Name</h4>

        <div>
            <img src="~/@displayImage.GetPath(Model.Item, true)" alt="@Model.Item.Name" />
        </div>
        <div class="item-details">
            <div class="category" style="margin-top: 10px;">
                Category: @Model.Item.Category.CategoryName.Name
            </div>
            <div class="price">
                Price: $@Model.Item.Price
            </div>
            <div class="description">
                @Model.Item.Blurb
                @Html.Partial("_LengthyDescription")
                Available in sizes @Model.SizeString
            </div>
        </div>

        <div class="brief-form">
            <label for="InventoryId">Select a Size</label>            
            @using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post, new { @class = "form-inline" })) 
            {
                @Html.Hidden("id", Model.Item.ItemID);
                <div class="form-group">
                    @Html.DropDownList("InventoryId", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <input type="submit" value="Add To Cart" class="btn btn-default" />
            }
        </div>

        @Html.ActionLink("<< Back to Store", "Index", "Store", new { @class = "" })

        </div>
