@model PortfolioSite.ViewModels.ShoppingCartViewModel
@using PortfolioSite.Models
@using PortfolioSite.ViewModels

@{
    ViewBag.Title = "View Shopping Cart";

    string itemItems = "items";
    if (Model.NumItems == 1)
    {
        itemItems = "item";        
    }

    int initCartThumbnailHeight = 50;
    int expandedCartThumbnailHeight = 200;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $(".cart-thumbnail").mouseenter(function () {
            $(this).attr("height", "@expandedCartThumbnailHeight");
        });
    });

    $(document).ready(function () {
        $(".cart-thumbnail").mouseleave(function () {
            $(this).attr("height", "@initCartThumbnailHeight");
        });
    });

    $(function () {
        $(".ChangeQuantity").change(function () {
            var recordToChange = $(this).attr("data-id");
            var newQuantity = $(this).valueOf().val();
            
            if (recordToChange != '') {
                $.post("/ShoppingCart/ChangeQuantity", { "id": recordToChange, "qty": newQuantity },
                        function (data) {
                            updatePage(data);
                });
            }
        })
    });

    $(function () {
        $(".RemoveLink").click(function () {
            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        updatePage(data);
                });
            }
        });
    });
    
    function updatePage(data) {
        $('#update-message').text(data.Message);
        if (data.Success)
        {
            if (data.ItemCount == 0) {
                $('#row-' + data.UpdateId).fadeOut('slow');
            } else {
                $('#item-count-' + data.UpdateId).val(data.ItemCount);
                $('#item-total-' + data.UpdateId).text('$' + data.ItemTotal);
            }
            $('#cart-total').text('$' + data.CartTotal);
            $('#cart-status').text('Cart (' + data.CartCount + ')');
        }
    }

    function handleUpdate() {
        // Load and deserialize the returned JSON data
        var json = context.get_data();
        var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
    }
    
</script>

<h2>Your Shopping Cart</h2>

@Html.Partial("_CartNav")

@{

    List<string> alertMessages = ViewBag.AlertMessages;
    <div class="alert-danger" style="font-size: x-large;">
        @{
            if (alertMessages.Count() > 0)
            {
                @:Inventory has diminished since you put items in your cart!
            }
        }
        <ul>
            @foreach (string message in alertMessages)
            {
                <li>@message.ToString()</li>
            }
        </ul>
    </div>
}

<div id="update-message" style="height: 30px; color: #ff0000; font-size: larger;"></div>

<table class="table">
    <colgroup>
        <col />
        <col style="background-color: #fcffbc" />
        <col />
        <col style="background-color: #fcffbc" />
        <col />
        <col style="background-color: #fcffbc" />
        <col />
        <col style="background-color: #fcffbc" />
    </colgroup>
    <tr>

        <th><!-- Picture --></th>
        <th>
            Item Name
        </th>
        <th>
            Size
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Available
        </th>
        <th>
            Total
        </th>
        <th>
            Remove
        </th>
    </tr>

@foreach (CartDetail detail in Model.Details)
{
    <tr id="row-@detail.RecordId">
        <td>
            <img src="~/Content/Img/@detail.Picture" class="cart-thumbnail" height="@initCartThumbnailHeight" alt="@detail.Name" />
        </td>
        <td>
            @Html.ActionLink(@detail.Name, "Details", "Store", new { id = detail.ItemId }, null)
        </td>
        <td>
            @detail.Size
        </td>
        <td style="text-align: right;">
            $@detail.SubTotal
        </td>
        <td>
            <input class="ChangeQuantity form-control" data-id="@detail.RecordId" id="item-count-@detail.RecordId" type="number" style="width: 50px;" value="@detail.Quantity" />
        </td>
        <td>
            @detail.QuantityInStock
        </td>
        <td id="item-total-@detail.RecordId" style="text-align: right;">
            $@detail.Total
        </td>
        <td>
            <a href="#" class="RemoveLink" data-id="@detail.RecordId">Remove from cart</a>
        </td>
    </tr>
}
    <tr>
        <td colspan="6" style="background-color: Window;"></td>
        <td id="cart-total" style="text-align:right; font-weight: bold; background-color: Window;">
            $@Model.Total
        </td>
        <td style="background-color: Window;"></td>
    </tr>
</table>

@Html.Partial("_CartNav")