@model IEnumerable<PortfolioSite.Models.OrderDetail>

@{
    ViewBag.Title = "Inventory Alert";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insufficient Inventory</title>
</head>
<body>
    <p>
        Since you put the following items in your cart inventory has depleted. Please determine which items
        to accept in the quantity available and which items to put back on the shelf. 
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetreivedFromInventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityShort)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td id="item-quantity-@item.RecordId">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetreivedFromInventory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityShort)
            </td>
            <td>
                <a href="#" class="ReduceLink" data-id="@item.RecordId">Give Me What You Have</a> |
                <a href="#" class="ReduceLink" data-id="@item.RecordId">Remove from cart</a>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
